= semantic_form_for 'session', {:html => {:class => "well"}, :url => session_path} do |f|
  =  f.inputs :name => 'Login Details' do
    = f.input :username
    = f.input :password, :as => :password
  = f.actions do
    = f.action :submit
