.row
  .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
    = semantic_form_for 'session', { html: { id: "new_session", class: "reg-page", role: "form" }, url: session_path } do |f|
      .reg-header
        %h2
          Bei Holarse anmelden
        = f.inputs do
          = f.input :username
          = f.input :password
        = f.actions do
          .row
            .col-md-6
              Merken
            .col-md-6
              = f.action :submit, label: "Anmelden", as: :button, button_html: { class: "btn-u pull-right" }