= semantic_form_for 'session', {:html => {:class => "form-inline", :id => "new_session"}, :url => session_path} do |f|
  =  f.inputs :name => 'Login Details' do
    = f.input :username
    = f.input :password, :as => :password
  = f.actions do
    = f.action :submit, :button_html => {:class => "btn btn-primary"}
