#loginform
  %h1
    Login an Holarse
  %p
    Mit deinem Benutzerdaten kannst du dich hier einloggen
  = form_tag session_path, :method => :post do
    .label
      = label_tag :username, t('.username')
    .field
      = text_field_tag :username, ""
    .label
      = label_tag :password, t('.password')
    .field
      = password_field_tag :password, ""
    .action
      = submit_tag "Anmelden"