.media
  %a.pull-left{:name => "comment-#{comment.id}"}
    = image_tag comment.user.avatar, class: "media-object"
  .media-body
    %h4.media-heading
      = link_user comment.user
      %span.text-muted
        = comment.changetime
    .autolinkable{:"data-ignores" => ""}
      = comment.content.html_safe

%hr
