%li.list-group-item
  %a{:id => create_anchor_name(comment)}
  %p.text-muted
    %small
      = link_user comment.user
      = comment.created_at
      = create_polymorphic_comment_link(:edit, commentable_object, comment) if can_edit_comment?(comment)
      = link_to "#", "#{url_for(commentable_object)}##{create_anchor_name(comment)}"
  %p
    %p.autolinkable{:"data-ignores" => ""}
      = comment.content
