.media
  %a.pull-left{:name => "comment-#{comment.id}"}
    = comment.user.avatar
  .media-body
    %h4.media-heading
      = comment.author
      %small
        schrieb
        = comment.changetime
    .autolinkable{:"data-ignores" => ""}
      = comment.content

%hr
