.search-blocks.search-blocks-colored.search-blocks-blue
  .row
    .col-md-4.search-img
      = article.teaser_image
      %ul.list-unstyled.list-inline
        - article.tags.each do |tag|
          %li
            = fa_icon "tag"
            = link_to tag, searchtag_path(tag)
    .col-md-8
      %h2
        = link_to article.title, article
      %p=article.teaser
      = link_to "Zum Artikel", article, class: "btn-u btn-u-red"
