= link_to news, class: "list-group-item" do
  = content_tag :h4, class: "list-group-item-heading" do
    = news.title
    %small.text-muted
      = news.subtitle
      = news.news_category.description if news.news_category
      %em
        = news.tags.join ", "
    .pull-right
      = news.type
  = content_tag :p, class: "list-group-item-text" do
    = news.teaser
    %small.text-muted.pull-right
      %p
        zuletzt aktualisiert von #{news.user.username} am #{news.updated_at}
