.search-blocks.search-blocks-colored.search-blocks-red
  .row
    .col-md-4.search-img
      = news.teaser_image
      %ul.list-unstyled.list-inline
        - news.tags.each do |tag|
          %li
            = fa_icon "tag"
            = link_to tag, searchtag_path(tag)
    .col-md-8
      %h2
        = link_to news.title, news
      %p=news.teaser
      = button_to "Zur News", news, class: "btn-u btn-u-red"
