%li
  = link_to "Neuer Artikel", new_article_path
- if @article.present? && !@article.new_record? && current_page?(article_path(@article))
  %li
    = link_to "Bearbeiten", edit_article_path(@article)
  %li
    = link_to article_history_index_path(@article) do
      Revisionen
      = content_tag :span, :class => "badge" do
        #{@article.versions.length}
