- if !@article.respond_to?("length") && !@article.new_record?
  %nav.context
    %ul
      %li
        = link_to t('.edit'), edit_article_path(@article) unless current_page?(edit_article_path(@article))
      %li
        = t('.history')
        = @article.archived.count
      %li
        = t('.admin')
      %li
        = link_to t('.preview'), '#', :id => 'article-preview' if current_page?(edit_article_path(@article))
