#liveedittabs
  %ul
    %li
      %a{:href => "#input"}
        Bearbeiten
    %li
      %a{:href => "#preview"}
        Live-Vorschau
  #input
    = semantic_form_for @article do |f|
      = f.inputs 'Inhalt', :id => 'article-edit-content' do
        .input-group
          = f.input :title, input_html: { class: "form-control" }
        .input-group
          = f.input :alternate_title, input_html: { class: "form-control" }
        .input-group
          = f.input :content, as: :text, input_html: { rows: 20, cols: 120, class: "form-control" }
        .input-group
          = f.input :category_list, input_html: { class: "form-control" }
        .input-group
          = f.input :genre_list, input_html: { class: "form-control" }
      = f.actions do
        = f.action :submit
  #preview
    %p#article_preview_text
