= semantic_form_for @article do |f|
  = f.inputs 'Inhalt', :id => 'article-edit-content' do
    = f.input :title, :label => t('.title')
    = f.input :alternate_title, :label => t('.alternate_title')
    = f.input :content, :as => :text, :label => t('.content'), :input_html => { :rows => 10 }
    = f.input :category_list, :label => t('.category_list')
    = f.input :genre_list, :label => t('.genre_list')
  = f.actions do
    = f.action :submit, :label => t('.submit')
    = f.action :cancel, :label => t('.cancel')

  %p#article_preview_text
