.row
  .col-md-6
    = semantic_form_for @article do |f|
      = f.inputs 'Inhalt' do
        .form-group
          = f.input :title, input_html: { class: "form-control" }
        .form-group
          = f.input :alternate_title, input_html: { class: "form-control" }
        .form-group
          = f.input :content, as: :text, input_html: { rows: 20, cols: 120, class: "form-control", id: "markup-edit-content" }
        .form-group
          = f.input :project_activity_state, label_method: :name, input_html: { class: "form-control" }
        .form-group
          = f.input :category_list, input_html: { class: "form-control tagsinput", :"data-context" => "categories" }
        .form-group
          = f.input :genre_list, input_html: { class: "form-control tagsinput", :"data-context" => "genres" }
      = f.actions do
        .form-group
          = f.action :submit, as: :button, button_html: { class: "btn btn-default" }
  .col-md-6
    %p#markuppreviewtext
