%hgroup
  %h1=t('.title')
    
.edit_content
  = semantic_form_for @article do |f|
    = f.semantic_errors :title, :content
    = f.inputs do 
      .input-group
        = f.input :title, input_html: { class: "form-control" } 
      .input-group
        = f.input :alternate_title, required: false, input_html: { class: "form-control" }
      .input-group
        = f.input :content, as: :text, input_html: { class: "form-control" }
    = f.actions do
      = f.actions

