%hgroup
  %h1=t('.title')
    
.edit_content
  = semantic_form_for @article do |f|
    = f.semantic_errors :title, :alternate_title, :content
    = f.input :title
    = f.input :alternate_title, :required => false
    = f.input :content
    = f.actions

