.container
  .row.blog-page.blog-item
    / left sidebar
    .col-md-9.md-margin-bottom-60
      / blog post
      .blog-margin-bottom-40
        %h2
          = link_to @article.title, @article
          %small
            = @article.secondary_title
        %img.img-responsive

      .autolinkable{:"data-ignores" => @article.titles}
        = @article.content.html_safe
      / end blog post
      
      %hr

      / recent comments
      .media
        %a{:name => "comments"}
        %h3
          Kommentare
        = render @article.comments
      / end recent comments

      .post-comment
        = show_commentbox @article
    
    / end left sidebar

    / right sidebar
    .col-md-3.magazine-page
      / article-infos
      .headline.headline-md
        %h2
          Meta
      %ul.list-unstyled.margin-bottom-30
        %li
          = fa_icon "pencil-square"
          = @article.createdtime
        %li
          = fa_icon "pencil-square-o"
          = @article.changetime
        %li
          = fa_icon "users"
          = @article.authors_list.html_safe
        %li
          = fa_icon "tachometer"
          = @article.project_state
        - if @article.reviseme
          %li
            = fa_icon "ambulance"
            Bitte überarbeite mich!
        - if @article.isfrozen
          %li
            = fa_icon "lock"
            Artikel eingeforen
        - if not @article.comments_allowed
          %li
            = fa_icon "warning"
            Kommentare deaktiviert
      / article tags
      .headline.headline-md
        %h2
          Tags
      %ul.list-unstyled.list-inline.blog-info
        %li
          = fa_icon "tags"
          - @article.tags.each do |tag|
            = link_to tag, searchtag_path(tag)

      / screenshots
      .headline.headline-md
        %h2
          Screenshots/Videos
      %ul.list-unstyled.blog-photos.margin-bottom-30
        - (1..10).each do |photo|
          %li
            = link_to "http://lorempixel.com/1024/768/technics/#{photo}", class: "fancybox fancybox.image", :"data-fancybox-group" => "gallery" do
              = image_tag "http://lorempixel.com/300/180/technics/#{photo}", class: "hover-effect"

      / similar articles
      .headline.headline-md
        %h2
          Ähnliche Artikel
      %ul.list-unstyled.blog-tags.margin-bottom-30
        - @article.similar(fields: ["title", "content"]).each do |similar_article|
          %li= link_to similar_article.title, similar_article
