.page-header
  = content_tag :h1 do
    = @article.title
    = content_tag :small do
      = @article.alternate_title
      = project_activity_indicator(@article.project_activity_state, "pull-right") if @article.project_activity_state
  .text-muted
    .text-left
      %em
        = @article.tags.join ", "

.autolinkable{:"data-ignores" => @article.titles}
  = @article.content

%ul.list-group
  = render @article.comments.decorate

= show_commentbox @article
