.page-header
  = content_tag :h1 do
    = @article.title
    = content_tag :small do
      = @article.alternate_title
      = project_activity_indicator(@article.project_activity_state, "pull-right") if @article.project_activity_state
  .text-muted
    .text-left
      %em
        = @article.tags.join ", "

.autolinkable{:"data-ignores" => @article.titles}
  = @article.content.html_safe

%p.lead
  Screenshots

  .row
    - 10.times do
      .col-sm-2.col-md-4
        = link_to "#", class: "thumbnail fancybox", rel: "article-#{@article.id}" do
          %img{:"data-src" => "holder.js/100%x180", :alt => "Artikelbild", :title => "Beispielbild"}
        .caption
          - require 'faker'
          = Faker::Lorem.sentences(3).join " "

%p.lead
  Videos

  .row
    - 5.times do
      .col-sm-2.col-md-4
        Youtube-Video

%hr
%a{:name => "comments"}
%p.lead
  Kommentare:
%ul.list-group
  = render @article.comments.decorate

= show_commentbox @article
