%h1#title{:"data-title" => "#{@article.title}"}
  = @article.title
%h2#alttitle{:"data-title" => "#{@article.alternate_title}"}
  = @article.alternate_title

%hr
.autolinkable
  = Holarse::Markup.render @article.content
