%h1
  = @article.title
%h2
  = @article.alternate_title

%hr
.autolinkable{:"data-ignores" => @article.titles}
  = @article.content

%ul.list-group
  = render partial: "comments/comment", collection: @article.comments.decorate, locals: {commentable_object: @article}
  = show_commentbox @article
