.page-header
  %h1
    = @article.title
    %small
      = @article.alternate_title
    = project_activity_indicator(@article.project_activity_state, "pull-right") if @article.project_activity_state

.autolinkable{:"data-ignores" => @article.titles}
  = @article.content

%ul.list-group
  = render @article.comments.decorate

= show_commentbox @article
