%h1
  = @article.title
%h2
  = @article.alternate_title

%hr
.autolinkable{:"data-ignores" => @article.titles}
  = @article.content

%ul.list-group
  = render @article.comments.decorate

= show_commentbox @article
