.container.blog-page.blog-item
  .blog.margin-bottom-40
    %h2
      = @article.title
    %h3
      = @article.secondary_title
    .blog-post-tags
      %ul.list-unstyled.list-inline.blog-info.blog-tags
        %li
          = fa_icon "clock-o"
          = @article.changetime
        %li
          = fa_icon "pencil"
          = @article.authors_list.html_safe
        %li
          = fa_icon "tags"
          - @article.tags.each do |tag|
            = link_to tag, searchtag_path(tag)
        %li
          = fa_icon "tachometer"
          = @article.project_state
        - if @article.reviseme
          %li
            = fa_icon "ambulance"
            Bitte überarbeite mich!
        - if @article.isfrozen
          %li
            = fa_icon "lock"
            Artikel eingeforen
        - if not @article.comments_allowed
          %li
            = fa_icon "warning"
            Kommentare deaktiviert
    .autolinkable{:"data-ignores" => @article.titles}
      = @article.content.html_safe

.container
  %h3
    Screenshots
  .gallery-page
    - require 'faker'
    - (1..10).each_slice(4).to_a.each do |row|
      .row.margin-bottom-20
        - row.each do |item|
          .col-md-3.col-sm-6
            = link_to "http://lorempixel.com/1024/768/technics/#{item}", class: "thumbnail fancybox fancybox.image zoomer", :rel => "gallery", title: "#{Faker::Lorem.words(3).join " "}" do
              %span.overlay-zoom
                %img.img-responsive{:"src" => "http://lorempixel.com/300/180/technics/#{item}"}
                .zoom-icon
.container
  .media
    %a{:name => "comments"}
    %h3
      Kommentare
    = render @article.comments

  = show_commentbox @article
