%p
  Der Artikel in der Revision #{@revision.index}. Erstellt am #{@revision.created_at} durch #{link_user User.find(@revision.whodunnit)} via #{@revision.event}.

%h1
  = @revision.reify.title unless @revision.reify == nil
%h2
  = @revision.reify.alternate_title unless @revision.reify == nil
%p
  = Holarse::Markup.render @revision.reify.content unless @revision.reify == nil
