.page-header
  %h1
    Anzeige von '#{@rev.title}'
    %small
      Revision #{@rev.revision_index}, erstellt am #{l @rev.event_date} von #{link_user @rev.blame_user} durch #{@rev.event}.

.page_title
  %h1
    = @rev.title
    %small
      = @rev.secondary_title

.p
  = @rev.content.html_safe
