%p
  &Auml;nderung in der Revision #{@rev.revision_index}. Erstellt am #{@rev.event_date} durch #{link_user @rev.blame_user} via #{@rev.event}.

.page_title
  %h1
    = @rev.title
    %small
      = @rev.secondary_title

.p
  = @rev.content.html_safe
