.page-header
  %h1
    Anzeige von '#{@original.title}'
    %small
      Revision #{@revision.id}, erstellt am #{l @revision.created_at} von #{link_user @revision.user}.

.page_title
  %h1
    = @original.title
    %small
      = @original.secondary_title

.p
  = @original.content.html_safe
