%tr.discount_event{:id => "discount-event-#{discount_event.id}", :"data-discount-event-id" => "#{discount_event.id}"}
  %td
    %i.icon-circle-arrow-down.icon.discount-event-show-details{:"data-discount-event-id" => discount_event.id}
      = link_to discount_event.name, discount_event
  %td=l discount_event.startdate if discount_event.startdate
  %td=l discount_event.enddate if discount_event.enddate
  %td=link_to "Zur Aktion", discount_event.website
%tr.discount_event_detail.info{:id => "discount-event-details-#{discount_event.id}"}
  %td{:colspan => "4"}
    = Holarse::Markup.render discount_event.description
    %p
      = link_to "Quelle", discount_event.sourceurl
