%tr.discount_event
  %td= discount_event.name
  %td= discount_event.startdate
  %td= discount_event.enddate
  %td= discount_event.website
%tr.hidden{:rowspan => 4}  
  %td
    %p
      = discount_event.description
    %p
      = discount_event.sourceurl
