.page-header
  %h1
    = @discount_event.title
    %small
      Vom #{l @discount_event.startdate} bis #{l @discount_event.enddate}

= content_tag :div, class: "autolinkable" do
  = @discount_event.description

%a{:name => "comments"}
%p.lead
  Kommentare:
%ul.list-group
  = render @discount_event.comments.decorate

= show_commentbox @discount_event
