%h1
  = @discount_event.title
%p
  = @discount_event.startdate
%p
  = @discount_event.enddate
%hr
= content_tag :div, class: "autolinkable" do
  = @discount_event.description

%ul.list-group
  = render @discount_event.comments.decorate

= show_commentbox @discount_event
