.page-header
  %h1
    = @discount_event.title
    %small
      Von
      = l(@discount_event.startdate) if @discount_event.startdate.present?
      bis
      = l(@discount_event.enddate) if @discount_event.enddate.present? 

%p
  = content_tag :div, class: "autolinkable" do
    = @discount_event.description

%p.lead
  Links
= fa_icon "external-link"
= link_to @discount_event.website

%a{:name => "comments"}
%p.lead
  Kommentare:
%ul.list-group
  = render @discount_event.comments.decorate

= show_commentbox @discount_event
