%hgroup
  %h1
    = t('.title')

%section
%p
  = @discount_event.name
%p
  = @discount_event.startdate
%p 
  = @discount_event.enddate
%p
  = link_to @discount_event.website
%p
  = @discount_event.description
%p
  = link_to @discount_event.sourceurl