%li
  - if @user.present? && !@user.new_record? && !current_page?(edit_user_path(@user))
    = link_to edit_user_path(@user) do
      = fa_icon "user"
      Profil bearbeiten
    = link_to "#" do
      = fa_icon "envelope-o"
      Nachrichten
    = link_to "#" do
      = fa_icon "folder-open"
      Meine Beiträge
    = link_to drafts_path do
      = fa_icon "file-text"
      Meine Entwürfe
