.list-group
  - if @user.present? && !@user.new_record? && !current_page?(edit_user_path(@user))
    = link_to "Bearbeiten", edit_user_path(@user), class: "list-group-item"
    = link_to "#", class: "list-group-item" do
      Nachrichten
      = content_tag :span, class: "badge" do
        = @user.unread_messages.count 
    = link_to "Meine Beiträge", "#", class: "list-group-item"
