= semantic_form_for @user do |f|
  = f.inputs "Kommunikation" do
    .form-group
      = f.input :jabber, input_html: { class: "form-control" }
    .form-group
      = f.input :icq, input_html: { class: "form-control" }
    .form-group
      = f.input :twitter, input_html: { class: "form-control" }    
    .form-group
      = f.input :diaspora, input_html: { class: "form-control" }  
    .form-group
      = f.input :steam, input_html: { class: "form-control" }
    .form-group
      = f.input :email, input_html: { class: "form-control" }
    .form-group
      = f.input :homepage, input_html: { class: "form-control" }
  = f.inputs do
    .form-group
      = f.input :signature, input_html: { class: "form-control" }
    .form-group
      = f.input :collaborate, input_html: { class: "form-control" }
  = f.inputs "Persönliches" do
    .form-group
      = f.input :city, input_html: { class: "form-control" }
    .form-group
      = f.input :job, input_html: { class: "form-control" } 
    .form-group
      = f.input :birthday, input_html: { class: "form-control" }
  = f.inputs "Linux" do
    .form-group
      = f.input :distro, input_html: { class: "form-control" }
    .form-group
      = f.input :computer, input_html: { class: "form-control" }
    .form-group
      = f.input :graphics, input_html: { class: "form-control" }
  = f.inputs "Minecraft" do
    .form-group
      = f.input :minecraft_username, input_html: { class: "form-control" }
  = f.actions do 
    = f.action :submit

= semantic_form_for @user do |f|
  = f.inputs "Avatar hochladen" do
    .form-group
      = f.input :avatar, input_html: { class: "form-control" }
  = f.actions do
    = f.action :submit

= semantic_form_for @user do |f|
  = f.inputs "Avatar aus dem Web laden" do
    .form-group
      = f.input :avatarweb, input_html: { class: "form-control" }
  = f.actions do
    = f.action :submit
  
