%h1
  = image_tag @user.avatar
  = @user.username

%h2
  = t('.signature')
%p
  = @user.signature    

%h2
  = t('.created_at', :date => @user.created_at)

%h2
  = t('.technical')
%ul
  %li
    = t('.distro') 
    = @user.distro
  %li
    = t('.computer')
    = @user.computer
  %li
    = t('.graphics')
    = @user.graphics
  
%h2
  = t('.personal')
%ul  
  %li
    = t('.icq')
    = @user.icq
  %li
    = t('.jabber')
    = @user.jabber
  %li
    = t('.city')
    = link_to_osm @user.city
  %li
    = t('.job')
    = @user.job
  %li
    = t('.birthday')
    = @user.birthday
%h2
  = t('.holarse_services')    
%ul  
  %li
    = t('.minecraft')
    = @user.minecraft_username
    = @user.minecraft_whitelisted ? "ja" : "nein"
    
%h2
  = t('.favourite_games')
%ul
  - @user.favourite_games.each do |game|
    %li
      = game
      

