.row
  .col-md-6
    .headline
      %h2
        Über #{@user.username}
    %dl.dl-horizontal
      %dt
        Angemeldet seit
      %dd
        = time_field @user.created_at
      %dt
        Letzter Login
      %dd
        = time_field @user.lastlogin
      %dt
        Letzte Aktivität
      %dd
        = time_field @user.lastactivity
      %dt
        Kommentare
      %dd
        = @user.comments
      %dt
        Rollen
      %dd
        = @user.roles
  .col-md-6
    .headline
      %h2
        Gaming-Daten
    %dl.dl-horizontal
      %dt
        Minecraft-User
      %dd
        = @user.minecraft_username
      %dt
        Minecraft freigeschaltet?
      %dd
        = @user.minecraft_whitelisted?
.row
  .col-md-6
    .headline
      %h2
        Social Gaming
    %dl.dl-horizontal
      %dt
        Jabber
      %dd
        = @user.jabber
      %dt
        Diaspora
      %dd
        = link_to @user.diaspora, @user.diaspora if @user.diaspora
      %dt
        Steam
      %dd 
        = link_to @user.steam, @user.steam_path if @user.steam
      %dt
        Twitter
      %dd
        = link_to @user.twitter, @user.twitter if @user.twitter
  .col-md-6
    .headline
      %h2
        Technik
    %dl.dl-horizontal
      %dt
        Computer
      %dd
        = @user.computer
      %dt
        Distribution
      %dd
        = @user.distro
      %dt
        Grafikchip
      %dd
        = @user.graphics
