.container
  .media.margin-bottom-40
    = @user.avatar
    .media-body
      .page-header
        %h1
          =@user.username
          %small= @user.signature
  %p
    .headline
      %h2
        Fun Facts &uuml;ber #{@user.username}
    %dl.dl-horizontal
      %dt
        Angemeldet seit
      %dd
        = time_field @user.created_at
      %dt
        Letzter Login
      %dd
        = time_field @user.lastlogin
      %dt
        Letzte Aktivität
      %dd
        = time_field @user.lastactivity
      %dt
        Kommentare
      %dd
        = @user.comments

  %p
    .headline
      %h2
        Über mich
    %dl.dl-horizontal
      %dt
        Stadt
      %dd
        = link_to_osm(@user.city)
      %dt
        Geburtstag
      %dd
        = @user.birthday

  %p
    .headline
      %h2
        Holarse-Daten
    %dl.dl-horizontal
      %dt
        Rollen
      %dd
        = @user.roles
      %dt
        Erlaubt Zusammenarbeit 
      %dd
        = @user.collaborate
        %small
          (
          = link_to "TogetherJS", "https://togetherjs.com/"
          )
    .headline
      %h2
        Minecraft
    %dl.dl-horizontal
      %dt
        Benutzername
      %dd
        = @user.minecraft_username
      %dt
        freigeschaltet?
      %dd
        = @user.minecraft_whitelisted?

  %p
    .headline
      %h2
        Wo findet man mich?
    %dl.dl-horizontal
      %dt
        Jabber
      %dd
        = @user.jabber
      %dt
        Diaspora
      %dd
        = link_to @user.diaspora, @user.diaspora if @user.diaspora
      %dt
        Steam
      %dd
        = link_to @user.steam, @user.steam_path if @user.steam
      %dt
        Twitter
      %dd
        = link_to @user.twitter, @user.twitter if @user.twitter

  %p
    .headline
      %h2
        Meine Technik
    %dl.dl-horizontal
      %dt
        Computer
      %dd 
        = @user.computer
      %dt
        Distribution
      %dd
        = @user.distro
      %dt
        Grafikchip
      %dd
        = @user.graphics

