.well
  = image_tag @user.avatar
  = @user.username
.panel.panel-default
  .panel-heading
    Signatur
  .panel-body
    = @user.signature.present? ? @user.signature : t('.no_signature_available')    

  .panel-heading
    Registriert seit
  .panel-body
    = t('.created_at', :date => l(@user.created_at))
  .panel-heading
    Linux-Technisches
  .panel-body
  %ul.list-group
    %li.list-group-item
      Distribution: #{@user.distro}
    %li.list-group-item
      Computer: #{@user.computer}
    %li.list-group-item
      Grafik: #{@user.graphics}
        
