.col-md-7
  %h2.featurette-heading
    = fa_icon :"icon-edit" do
      = link_to article.title, article
    %span.text-muted=article.secondary_title
  %p.text-muted
    %small
      = article.updated_at
      von
      = link_user article.user
      %span.badge.pull-right
        = article.comments.length
  %p
    = article.teaser.html_safe
.col-md-5
  %img.featurette-image.img-responsive{:src => "data:image/png;base64,", :"data-src" => "holder.js/500x281/auto", :alt => "Generic image"}
