.col-md-7
  %h2.featurette-heading
    = link_to article.title, article
    %span.text-muted=article.intro
  %p.text-muted
    %small
      = article.updated_at
      von
      = link_user article.user
      %span.badge.pull-right
        = article.comments.length
  %p.lead
    = article.teaser
.col-md-5
  %img.featurette-image.img-responsive{:src => "data:image/png;base64,", :"data-src" => "holder.js/500x500/auto", :alt => "Generic image"}
