.col-md-7
  %h2.featurette-heading
    = fa_icon :"icon-edit" do
      = link_to article.title, article
    %span.text-muted=article.secondary_title
  %p.text-muted
    %small
      = article.updated_at
      von
      = link_user article.user
      = link_to article_path(article, anchor: "comments") do
        = t('.comments', count: article.comments.length)
  %p
    = article.teaser.html_safe
.col-md-5
  = article.teaser_image.html_safe
