%h1
  = discount_event.title
.row
  .col-md-6
    %p
      = discount_event.teaser
    = link_to discount_event, class: "btn-u btn-u-large btn-u-green one-page-btn" do
      = fa_icon "gift"
      = discount_event.title
  .col-md-6
    = discount_event.teaser_image
.row
  .col-md-12
    = fa_icon "comments"
    = link_to discount_event_path(discount_event, anchor: "comments") do
      = t('.comments', count: discount_event.comments.length)
    = fa_icon "clock-o"
    = time_field discount_event.updated_at

