%h2
  = discount_event.title
%ul.list-unstyled.list-inline.blog-info
  %li
    = fa_icon "calendar" do
      = discount_event.changetime
  %li
    = fa_icon "comments" do
      = link_to discount_event_path(discount_event, anchor: "comments") do
        = t('.comments', count: discount_event.comments.length)
  %li
    = fa_icon "clock" do
      = time_field discount_event.enddate
%p
  = discount_event.teaser
%p
  = link_to discount_event, class: "btn-u btn-u-small" do
    = fa_icon "gift" do
      Weiterlesen