.col-md-7
  %h2.featurette-heading
    %i.fa.fa-gift
    = link_to discount_event.title, discount_event
    %span.text-muted=discount_event.secondary_title
  %p.text-muted
    %small
      = l discount_event.updated_at
      von
      = link_user discount_event.user
      = link_to discount_event_path(discount_event, anchor: "comments") do
        = t('.comments', count: discount_event.comments.length)
  %p
    = discount_event.teaser
.col-md-5
  = discount_event.teaser_image
