%li
  = link_to new_news_path do
    = fa_icon "bell"
    Neue News
%li 
  = link_to new_article_path do
    = fa_icon "gamepad"
    Neuer Artikel
%li
  = link_to new_discount_event_path do
    = fa_icon "gift"
    Neue (Rabatt)-Aktion
