%h2
  = news.title_with_updates
%ul.list-unstyled.list-inline.blog-info
  %li
    = fa_icon "calendar" do
      = news_changetime
  %li
    = fa_icon "comments" do
      = link_to news_path(news, anchor: "comments") do
        = t('.comments', count: news.comments.length)
  %li
    = fa_icon "tags" do
      = news.tags