.col-md-7
  %h2.featurette-heading
    %i.icon-info
    = link_to news.title, news
    %span.text-muted=news.secondary_title
  %p.text-muted
    %small
      = l news.updated_at
      von
      = link_user news.user
      = "(#{news.category})" if news.category
      = link_to news_path(news, anchor: "comments") do
        = t('.comments', count: news.comments.length)
  %p
    = news.teaser
.col-md-5
  = news.teaser_image.html_safe
