#content.content.section.row
  .col-md-8.bg-base.col-lg-8.col-xl-9
    .ribbon.ribbon-highlight
      %ol.breadcrumb.ribbon-inner
        = render_breadcrumbs :tag => :li, :separator => ""

    .entries
      - @news.each do |news|
        %article.entry.style-media.media.type-post
          %figure.media-object.pull-left.entry-thumbnail.hidden-xs
            = news.teaser_image
          .media-body
            %header.entry-header
              %h3.entry-title
                =link_to news.title_with_updates, news, rel: "bookmark"
              .entry-meta
                %span.author
                  von 
                  = link_to news.authors_list.html_safe
                %span.entry-date
                  = time_field news.created_at
                %span.category
                  in 
                  = news.category
            %p
              = news.teaser.html_safe
              = link_to news, class: "more-link" do
                Mehr lesen
                = fa_icon "arrow-right"
    %ul.pagination
        
  .sidebar.col-md-4.col-lg4.col-xl-3
    %aside.widget
      %h2.widget-title.ribbon
        %span
          Featured Posts
      .entries.row
    %aside#reviewCarousel.widget.carousel.slide
      