.purchase
  .container
    .row
      .col-md-9
        %span
          Willkommen auf Holarse - Spielen unter Linux
        %p
          Spielen unter Linux? Wir zeigen Euch wie es geht, was Ihr spielen könnt und geben Euch alle Mittel an die Hand in der Linuxspiele-Community Mit- und Gegenspieler zu finden!
      .col-md-3
        = link_to "Zeige mir eine Einführung", root_path, class: "btn-buy hover-effect"

.one-page
  - @elements.each do |element|
    .one-page-inner{:class => "#{cycle('one-default', 'one-red', 'one-grey', 'one-blue')}"}
      .container
        = render partial: element.model.class.name.underscore, object: element

= content_for :footer do
  %h4
    Aktivitäten
  %ul.list-group#activitylist
    - @activities.each do |activity|
      %li.list-group-item=activity.notice.html_safe
  %i#activity-list-icon.fa
    = link_to "alle zeigen", "#", id: "toggle-activities", remote: true
