- if !@news.respond_to?("length") && !@news.new_record?
  %nav.context
    %ul
      %li
        = link_to t('.edit'), edit_news_path(@news) unless current_page?(edit_news_path(@news))
      %li
        = t('.history')
        = @news.archived.count
      %li
        = t('.admin')
      %li
        = link_to t('.preview'), '#', :id => 'news-preview' if current_page?(edit_news_path(@news))
