%li
  = link_to new_news_path do
    = fa_icon "file-text"
    Neue News
- if @news.present? && !@news.new_record? && current_page?(news_path(@news))
  %li
    = link_to new_news_news_update_path(@news) do
      = fa_icon "file-text-o"
      Neues Update
  %li
    = link_to news_news_updates_path(@news) do
      = fa_icon "bullhorn"
      Updates bearbeiten
  %li
    = link_to edit_news_path(@news) do
      = fa_icon "edit"
      Bearbeiten
  %li
    = link_to news_history_index_path(@news) do
      = fa_icon "book"
      Revisionen
      = content_tag :span, :class => "badge" do
        #{@news.revisions.length}
