%li.news
  %header.news
    %h1
      = link_to news.title, news
    %h2
      .author
        = raw t('.author', :name => link_user(news.author))
      %time.date{:datetime => "#{news.created_at}"}
        = t('.created_at', :date => l(news.created_at))
      .comments
        = t('.comments', :count => news.comments.count)        
  %article.newsitem{:"data-id" => "#{news.id}"}
    = image_tag(news.screenshots.first.img) if news.has_screenshots?
    = news.content
