#liveedittabs
  %ul
    %li
      %a{:href => "#input"}
        Bearbeiten
    %li
      %a{:href => "#preview"}
        Live-Vorschau
    %li
      %a{:href => "#markdowndoku"}
        Markdown-Doku
  #input
    = semantic_form_for @news do |f|
      = f.inputs 'Inhalt', :id => 'news-edit-content' do
        .form-group
          = f.input :title, input_html: { class: "form-control" }
        .form-group
          = f.input :subtitle, input_html: { class: "form-control" }
        .form-group
          = f.input :content, as: :text, input_html: { rows: 20, cols: 120, class: "form-control" }
      = f.actions do
        .form-group
          = f.action :submit, as: :button, button_html: { class: "btn btn-default" }
  #preview
    %p#article_preview_text
  #markdowndoku
    Hier soll mal die Markdown-Doku hin. Bis dahin gibts nen Link auf die Doku: http://kramdown.rubyforge.org/quickref.html
