%h3
  = "News erstellen"
= form_for @news do |f|
  %p
    = f.label :title, "Titel"
    = f.text_field :title
  %p
    = f.label :subtitle, "Untertitel"
    = f.text_field :subtitle
  %p
    = f.label :content, "Inhalt"
    %br/
    = f.text_area :content, :class => "content"
  %p
    = f.label :tags, "Tags durch Kommas getrennt"
    = f.text_field :tags
  %p
    = f.fields_for :screenshots do |builder|
      = render 'screenshot_fields', :f => builder
    = link_to_add_fields "Screenshot hinzufügen", f, :screenshots
  %p
    = f.fields_for(:videos) do |v|
      = v.label :url, "Videourl"
      = v.text_field :url
      = v.label :description, "Videobeschreibung"
      = v.text_field :description
  %p
    = f.fields_for :links do |builder|
      = render 'link_fields', :f => builder
    = link_to_add_fields "Link hinzufügen", f, :links
  %p
    = f.submit "Speichern"

