%h3
  = "News erstellen"
= form_for @news do |f|
  %p
    = f.label :title, "Titel"
    = f.text_field :title
  %p
    = f.label :subtitle, "Untertitel"
    = f.text_field :subtitle
  %p
    = f.label :content, "Inhalt"
    %br/
    = f.text_area :content, :class => "content"
  %p
    = f.label :tags, "Tags durch Kommas getrennt"
    = f.text_field :tags
  %p
    = f.label :screenshots
    = f.file_field :screenshots
  %p
    = f.submit "Speichern"

