%article
  %header
    %h1
      = t('.title', :title => @news.title)
    %h2
      %ul
        %li= t('.created_at', :date => @news.created_at)
        %li= t('.updated_at', :date => @news.updated_at)
  %p
    = semantic_form_for @news do |f|
      = f.inputs 'Inhalt', :id => 'article-edit-content' do
        = f.input :title
        = f.input :subtitle
        = f.input :content, :label => t('.content')
        = f.input :category_list, :label => t('.category_list')
      = f.actions :submit, :cancel

  %p#news_preview_text
