%article
  %header
    %h1
      = @news.title
    %h2
      = @news.subtitle
    %h3
      = link_user @news.author
    %h4
      = @news.tags.join(",")

  %p
    = wiki_to_html @news.content

  %h3
    = t('.videos')
  .videos
    %ul
      - @news.videos.each do |video|
        %li
          = video[:description]
          %br/
          != embed_youtube video

  %h3
    = t('.links')
  .links
    %ul
      - @news.links.each do |link|
        %li
          = link_to link.url
    
