.page-header
  = content_tag :h1 do
    = @news.title
    = content_tag :small do
      = @news.subtitle
  .text-muted
    .text-left
      = @news.category
    .text-right
      = link_user @news.user

.autolinkable.newsbox{:"data-ignores" => @news.titles}
  = @news.content

%hr
%p.lead
  Artikel-Links:
.list-group
  %ul#newslinks

%p.lead
  Kommentare:
%ul.list-group
  = render @news.comments.decorate

= show_commentbox @news
