.page-header
  = content_tag :h1 do
    = @news.title
    = content_tag :small do
      = @news.subtitle
      %span.label.label-default
        = @news.category
  .text-muted
    .pull-right
      %p
        von #{link_user @news.user} am #{@news.updated_at}
    .pull-left
      %p
        %em
          = @news.tags.join ", "
    .clearfix

.autolinkable.newsbox{:"data-ignores" => @news.titles}
  = @news.content.html_safe

.panel.panel-default#link-container
  .panel-heading
    %h3.panel-title
      Links
  .panel-body
    .list-group
      %ul#newslinks

%hr
%p.lead
  Kommentare:
%ul.list-group
  = render @news.comments.decorate

= show_commentbox @news
