%article
  %header
    %h1
      = @news.title
    %h2
      = @news.subtitle
    %h3
      = link_user @news.author
    %h4

  %p
    %pre
      %codei{:data => {:language => "wiki"}}
        = @news.content

  %p
    = wiki_detail @news.content

  %h3
    = t('.videos')
  .videos
    %ul
      - @news.videos.each do |video|
        %li
          = video[:description]
          %br/
          != embed_youtube video

  %h3
    = t('.links')
  .links
    %ul
      - @news.links.each do |link|
        %li
          = link_to link.description, link.url
    
