%h1
  = @news.title
%h2
  = @news.subtitle
%h3
  = link_to @news.author.username, @news.author if @news.author

%p
  = @news.content

%p
  = @news.tags.join(', ')

%h4
  = t('.videos')
%ul
  - @news.videos.each do |video|
    %li
      = video[:description]
      %br/
      != embed_youtube video

%h4
  = t('.links')
%ul
  - @news.links.each do |link|
    %li
      = link_to link.description, link.url
