%nav.primary
  %ul
    %li.item.logo
      = link_to root_path do
        = image_tag "holarse_logo.png", :class => "logo"
    %li.item      
      = t('.games')
    %li.item      
      = t('.hardware')
    %li.item      
      = t('.community')
    %li.item
      = link_to t('.news'), news_index_path     
    %li.item
      - if current_user.present?
        %li.item
          = link_to(current_user.username, current_user)
        %li.item
          = link_to(t('.logout'), logout_path)
      - else
        %li.item
          = link_to(t('.login'), login_path)
        %li.item
          = link_to t('.register'), new_user_path
    %li.item
      = render "search"

