= image_tag "tux_small.png", id: "smalltux"
#smalltuxtext
  hol
  %span.red
    a
  rse - Spielen unter 
  %span.red
    linux
    
%ul
  %li      
    = link_to t('.videos'), videos_path
  %li      
    = link_to t('.twitter'), twitter_path
  %li      
    = link_to t('.community'), root_path
  %li
    = link_to t('.news'), news_index_path     

