%ul
  - if current_user.present?
    %li
      = link_to(current_user.username, current_user)
    %li
      = link_to(t('.logout'), logout_path)
  - else
    %li
      = link_to(t('.login'), "#", :id => "loginform-link")
    %li
      = link_to t('.register'), new_user_path

= render "sessions/loginform"

