= image_tag "tux_small.png", id: "smalltux"
#smalltuxtext
  hol
  %span.red
    a
  rse - Spielen unter 
  %span.red
    linux
    
%ul
  %li      
    = link_to t('.videos'), videos_path
  %li      
    = link_to t('.twitter'), twitter_path
  %li      
    = link_to t('.forum'), root_path
  %li
    = link_to discount_events_path do
      = content_tag :div, t('.discount_events'), :id => "discount_count", :"data-discount-text" => t('.discount_events')
  
.newbtn  
  = link_to t('.new'), '#', :id => "new_button", :class => "button"

#newbtn-content.invisible{:title => t('.newbtn_title')}
  %ul
    %li
      = link_to t('.newarticle'), new_article_path
    %li
      = link_to t('.newnews'), new_news_path
