.collapse.navbar-collapse.navbar-ex1-collapse
  %ul.nav.navbar-nav.pull-right
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Spiele
        %b.caret
      %ul.dropdown-menu
        - get_genres.each do |genre|
          %li
            = link_to genre.name, searchtag_path(genre.name)
    %li
      = link_to "Youtube", videos_path
    %li#discount-events-count
      %script{:id => "discount-events-count-tmpl", :type => "text/html"}
        = link_to discount_events_path do
          Rabattaktionen
          %span.badge
            {{count}}
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Dienste
        %b.caret
      %ul.dropdown-menu
        %li
          = link_to "Allgemein", holarse_service_path
        %li.divider
        %li
          = link_to "Mumble", holarse_service_mumble_path
        %li
          = link_to "Jabber", holarse_service_jabber_path
        %li
          = link_to "Gameserver", holarse_service_gameserver_path
