#primarylinks
  %ul.content
    %li
      = image_tag "mail-inbox.svg", :size => "28x28"
    %li
      = image_tag "evolution-calendar.svg", :size => "28x28"
    %li
      = image_tag "applications-chat-panel.svg", :size => "28x28"
    %li
      = image_tag "applications-games.svg", :size => "28x28", :alt => 'holarse services'
    %li
      = image_tag "evolution.svg", :size => "28x28", :alt => 'contact'
    %li
      = image_tag "twitter.svg", :size => "28x28", :alt => 'holarse zwitschern'
    %li
      = link_to image_tag("video-x-generic.svg", :size => "28x28", :alt => 'holarse videos'), '/media/video'

  