%ul
  %li
    = link_to t('.home'), root_path
  %li
    = link_to t('.news'), news_index_path
  %li
    = link_to t('.videos'), youtube_path
  %li
    = link_to t('.podcast'), ''
  %li
    = link_to t('.games'), ''
  %li
    = link_to t('.wine'), ''
  %li
    = link_to t('.hardware'), ''
  %li
    = link_to t('.links'), ''
  %li
    = link_to t('.twitter'), twitter_path

