%tr
  %td
    = draft.id
  %td
    = link_to draft.reify.title, draft
  %td
    = draft.type
  %td
    = time_field draft.created_at
  %td
    = time_field draft.updated_at
  %td
    = draft.merge_state
