!!!
%html
  %head
    %title=t('.title')
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width"}
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"
    = javascript_include_tag "http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"
    = javascript_include_tag "http://imakewebthings.com/jquery-waypoints/waypoints.min.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/black-tie/jquery-ui.css", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = favicon_link_tag "favicon.png"
  %body
    .flash
      / Benachrichtigungen
      .notice
        = flash[:notice] if flash && flash[:notice]
      .warning
        = flash[:warning] if flash && flash[:warning]
      .error
        = flash[:error] if flash && flash[:error]
    %header.main
      = render "header"
    %section.content
      = yield
    %footer.main
      = render "footer"
