!!!
%html
  %head
    %title=Holarse
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag "favicon.png"
  %body
    #container
      %header#header
        = render "header"
      %nav#search
        = render "search"
      %nav#primarynav
        = render "primary_navigation"
      %nav#secondarynav
        = render "secondary_navigation"
      #flash
        = render "flash"
      %section#content
        = yield
      %footer#footer
        = render "footer"
