!!! 5
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %base(href="/")
    %title= build_site_title
    = csrf_meta_tags
    = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.ui/1.10.4/themes/jquery-ui.min.css", media: "all"
    = stylesheet_link_tag "//cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap.min.css", media: "all"
    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag 'favicon.png', :rel => 'shortcut icon'
  %body
    = render partial: "top"
    = render partial: "header"

    / content
    = render partial: "breadcrumbs"

    .container
      .row
        .col-md-12
          = render :partial => "flash", object: flash
      .row
        .col-md-12.content
          = yield.force_encoding("UTF-8")

    - if content_for?(:footer)
      / footer
      .footer
        .container
          = yield(:footer)

    / copyright
    .copyright.hidden-xs.hidden-sm
      .container
        = render :partial => "copyright"

    / javascript einladen
    = javascript_include_tag "//cdn.jsdelivr.net/jquery/2.1.0/jquery.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.ui/1.10.4/jquery-ui.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/mustache.js/0.8.1/mustache.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.mustache/0.2.7/jquery.mustache.js"
    = javascript_include_tag "//cdn.jsdelivr.net/bootstrap/3.1.1/js/bootstrap.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/momentjs/2.5.1/moment-with-langs.min.js"
    
    / mustache templates
    = render partial: "mustaches"
    
    :javascript
      var holarse = holarse || {}; // Namespace deklarieren
      holarse.current_host = location.protocol + '//' + location.host;

    = javascript_include_tag "application"
    :javascript
      jQuery(document).ready(function() {
        App.init();
        //App.initBxSlider();
      });

      $("[id$=template]").each(function(i, template) {
        $.Mustache.addFromDom(template.id);
        console.debug("loaded " + template.id + " as mustache template");
      });

    = javascript_include_tag "//togetherjs.com/togetherjs-min.js" if user_wants_to_collaborate? current_user
