!!! 5
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="Spielen unter Linux")
    %meta(name="author" content="Holarse")
    %base(href="/")
    %title= build_site_title
    = csrf_meta_tags
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Lato:300,400,700,400italic,700italic|Droid+Serif"
    = stylesheet_link_tag "//cdn.jsdelivr.net/jquery.ui/1.10.4/themes/jquery-ui.min.css", media: "all"
    = stylesheet_link_tag "//cdn.jsdelivr.net/bootstrap/3.1.1/css/bootstrap.min.css", media: "all"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.3/jquery.tagsinput.css", media: "all"
    = stylesheet_link_tag "//cdn.jsdelivr.net/fontawesome/4.1.0/css/font-awesome.min.css", media: "all"
    = stylesheet_link_tag "//cdn.jsdelivr.net/prettyphoto/3.1.5/css/prettyPhoto.css", media: "all"
    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag image_path 'favicon.png', :rel => 'shortcut icon'
  %body
    %h1.sr-only
      Holarse - Spielen unter Linux
      
    %nav#header.header-navbar(role="navigation")
      .header-navbar-inner.container
        #brand.navbar-brand
          = link_to root_path, rel: "bookmark" do
            = image_tag "holarse_logo.png"
            
        %ul.nav.nav-pages.hidden-xs
          %li
            = link_to "#" do
              = fa_icon "envelope"
              Kontakt
          %li
            = link_to "mumble://www.holarse-linuxgaming.de:64738" do
              = fa_icon "phone"
              Mumble
          %li
            = link_to "irc://irc.oftc.net:6667/holarse-gaming" do
              = fa_icon "users"
              Chat
          - if current_user
            %li
              = link_to current_user do
                = fa_icon ""
                = current_user.username
            %li
              = link_to logout_path do
                = fa_icon "sign-out"
                Logout
          - else
            %li
              = link_to register_path do
                = fa_icon "plus-square"
                Registrieren
            %li
              = link_to login_path do
                = fa_icon "sign-in"
                Login
        
        %ul.nav.nav-icons
          %li
            %a.btn-icon(href="#" data-toggle=".header-navbar-inner" data-toggle-class="search-toggled-in")
              %span.search-toggled-out-icon.glyphicon.glyphicon-search
              %span.search-toggled-in-icon.glyphicon.glyphicon-remove
      
        .search-wrapper.js-stoppropagation
          .search-wrapper-inner
            %form(action="/search" method="POST" accept-charset="UTF-8" )
              %input(type="text" placeholder="Holarse durchsuchen" name="q")
              %button.btn-icon(type="submit")
                %span.glyphicon.glyphicon-search

        %ul.nav.navbar-nav
          %li.active
            %a(href="#" data-toggle="li")
              Genres
          

    #main.container
      = yield
           
    %footer#footer.footer-area
      .footer-top.container
        .row
          .widget.col-xs-12.col-sm-4
            %h4.widget-title
              Kategorien
          .clearfix.visible-xs
          .widget.col-xs-6.col-sm-2
            %h4.widget-title
              Informationen
            %ul.entries.links.links
              %li
                = link_to "Impressum", imprint_path
              %li
                = link_to "Github", version_path(get_app_version)
          .widget.col-xs-6.col-sm-2
            %h4.widget-title
              Social Media
            %ul.entries.links
              %li
                = link_to "Youtube", "https://www.youtube.com/holarse"
              %li
                = link_to "Twitter", "https://twitter.com/holarse"
              %li
                = link_to "Diaspora", "https://pod.geraspora.de/people/2bb7b696af0b07a0"
              %li
                = link_to "Github", "https://github.com/commel/holarse/"
          .clearfix.visible-xs                
          .widget.col-xs-12.col-sm-4
            %h4.widget-title
              Links                
            %ul.entries.links
              %li
                = link_to "http://ipv6-test.com/validate.php?url=www.holarse-linuxgaming.de" do
                  = image_tag "button-ipv6-80x15.png"
              %li
                = link_to "https://www.manitu.de" do
                  = image_tag "manitu_publicon.gif"
              %li
                = link_to "http://www.jugendschutzprogramm.de/download" do
                  = image_tag "jusprog-age-de-icon-18.png"
              %li
                = link_to "jsDelivr", "http://www.jsdelivr.com/"
              %li
                - if user_wants_to_collaborate? current_user
                  %button.btn-u{:onclick => "TogetherJS(this); return false;"}
                  = fa_icon "users"
                  Zusammenarbeit        
      .footer-bottom
        .container.aligncenter
          %p
            &copy; 2000 - 
            = Date.today.year
            Bernd Ritter und viele viele andere
                


    / javascript einladen
    = javascript_include_tag "//cdn.jsdelivr.net/jquery/2.1.0/jquery.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.ui/1.10.4/jquery-ui.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/mustache.js/0.8.1/mustache.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.mustache/0.2.7/jquery.mustache.js"
    = javascript_include_tag "//cdn.jsdelivr.net/momentjs/2.5.1/moment-with-langs.min.js"    
    = javascript_include_tag "//cdn.jsdelivr.net/bootstrap/3.1.1/js/bootstrap.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.3/jquery.tagsinput.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/jquery.unveiljs/1.3.0/jquery.unveil.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/prettyphoto/3.1.5/js/jquery.prettyPhoto.js"
    
    / mustache templates
    = render partial: "mustaches"
    
    :javascript
      var holarse = holarse || {}; // Namespace deklarieren
      holarse.current_host = location.protocol + '//' + location.host;

    = javascript_include_tag "application"
    :javascript
      holarse.mustaches.init();

    = javascript_include_tag "//togetherjs.com/togetherjs-min.js" if user_wants_to_collaborate? current_user
