!!! 5
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "HOLARSE - Spielen unter Linux"
    = csrf_meta_tags
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", media: "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css", media: "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css", media: "all"
    = stylesheet_link_tag "application", media: "all"
    = favicon_link_tag 'favicon.png', :rel => 'shortcut icon'
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" 
    = javascript_include_tag "//code.jquery.com/ui/1.10.3/jquery-ui.min.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    = javascript_include_tag "//togetherjs.com/togetherjs-min.js"
    = javascript_include_tag "application"

  %body
    %header
      .main
        .container
          = render partial: "logo"
          = render partial: "navbar"
      .sub
        .row
          .col-md-6
            = render partial: "breadcrumbs"
          .col-md-2
            = render partial: "submenu"
          .col-md-2
            = render partial: "searchbox"
          .col-md-2
            = render partial: "session"
    .content
      .row
        .col-md-2
          = render :partial => "navcontext"            
        .col-md-10 
          .container
            = render :partial => "flash", object: flash
            = yield
    
    %footer
      .container
        = render partial: "footer"
    .copyright
      .container
        = render partial: "copyright"
