!!!
%html
  %head
    %title=t('.title')
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => "linux, spiele, spielen unter linux"}
    %meta{:name => "viewport", :content => "width=device-width"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = favicon_link_tag "favicon.png"
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
  %body
    .flash
      / Benachrichtigungen
      .notice
        = flash[:notice] if flash && flash[:notice]
      .warning
        = flash[:warning] if flash && flash[:warning]
      .error
        = flash[:error] if flash && flash[:error]
    %header.page
      = render "header"
    %section.page
      %a{:name => "top"}
      = yield
      %a{:id => "backtotop"} 
        = t('.backtotop')      
    %nav.context
      = render "navcontext"
    %footer.page
      = render "footer"
