!!! 5
%html(lang="de")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "HOLARSE - Spielen unter Linux"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", media: "all"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css", media: "all"
    = stylesheet_link_tag "//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css", media: "all"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css", media: "all"
    = stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.css", media: "all"
    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.png', :rel => 'shortcut icon'
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" 
    = javascript_include_tag "//code.jquery.com/ui/1.10.3/jquery-ui.min.js"
    = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/tweet/2.1/jquery.tweet.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-media.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.3/jquery.mousewheel.min.js"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/helpers/jquery.fancybox-thumbs.js"
    = javascript_include_tag "application"

  %body
    .wrap
      %nav.navbar.navbar-inverse{:role => "navigation"}
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar          
          = link_to root_path, :class => "navbar-brand" do
            Holarse - Spielen unter Linux
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} News
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Spiele
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li
                  %a{:href => "#"} Separated link
                %li
                  %a{:href => "#"} One more separated link
            %li
              %a{:href => "#"} Tools            
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Holarse-Dienste
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li
                  %a{:href => "#"} Separated link
                %li
                  %a{:href => "#"} One more separated link
            %li
              = link_to "Youtube", videos_path
            %li
              = link_to "Twitter", twitter_path
            %li
              = link_to discount_events_path do
                %span#discount-count
                  Rabattaktionen
          = semantic_form_for 'search', {:html => { :class => 'navbar-form navbar-right' }, :url => search_path} do |f|
            = f.input :q, :label => false, :as => :search, :input_html => { :class => "form-control" }, :placeholder => "Holarse durchsuchen"
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li
                = link_to current_user.username, user_path(current_user)
              %li
                = link_to "Abmelden", logout_path
            - else
              %li
                = link_to "Registrieren", register_path
              %li
                = link_to "Anmelden", login_path
        / /.navbar-collapse  

      .col-md-2
        %ul.nav
          = render :partial => "navcontext"            
      .col-md-10
        .container

          .flash
            - flash.each do |name, msg|
              = content_tag :div, msg, class: "alert alert-#{name}"

          = yield


        
    #footer
      .container
        %p.text-muted.credit
          &copy; Holarse 2000 - 2013
          %i.icon-bitbucket.icon
            = link_to get_app_version, version_path(get_app_version)        
