!!!
%html
  %head
    %title=t('.title')
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => "linux, spiele, spielen unter linux"}
    %meta{:name => "viewport", :content => "width=device-width"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = favicon_link_tag "favicon.png"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Sans+Mono"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Droid+Serif:700"
  %body
    .flash
      / Benachrichtigungen
      .notice
        = flash[:notice] if flash && flash[:notice]
      .warning
        = flash[:warning] if flash && flash[:warning]
      .error
        = flash[:error] if flash && flash[:error]
    %header
      = render "header"
    %nav.primary
      = render "navprimary"
    %nav.secondary
      = render "navsecondary"
    %nav.usernav
      = render "navuser"
    .maincontent
      %nav.context
        .navcontext
          = render "navcontext"
      %section.content
        = yield
    %aside.search
      = render "search"
    %footer
      = render "footer"
