!!!
%html
  %head
    %title=Holarse
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width"}
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/dark-hive/jquery-ui.css", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = favicon_link_tag "favicon.png"
  %body
    #main
      #flash
        = render "flash"
      %header#header
        = render "header"
      %nav#primarynav
        %nav#profile
          = render "profile"
        %nav#search
          = render "search"
        %nav#primarylinks
          = render "primary_navigation"
      #container
        %nav#secondarynav
          = render "secondary_navigation"
        %section#content
          = yield
      %footer#footer
        = render "footer"
