!!!
%html
  %head
    %title=t('.title')
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = favicon_link_tag "favicon.png"
  %body
    .flash
      / Benachrichtigungen
      .notice
        = flash[:notice] if flash && flash[:notice]
      .warning
        = flash[:warning] if flash && flash[:warning]
      .error
        = flash[:error] if flash && flash[:error]
    %header.main
      = render "header"
    %section.content
      = yield
    %footer.main
      = render "footer"
