.row
  .col-md-12
    .headline
      %h2
        Neuigkeiten einreichen
    %p
      Hier könnt ihr Links, Neuigkeiten, Hinweise oder Anregungen einwerfen.
      
.row  
  .col-md-12
    = semantic_form_for @inbox do |f|
      - if @inbox.errors.any?
        %p
          Fehler gefunden
          = f.semantic_errors
      = f.inputs do
        .form-group
          = f.input :sender, input_html: { class: "form-control" }, placeholder: "Sag uns wie erwähnt werden willst, oder einfach leer lassen für anonym."
        .form-group
          = f.input :url, input_html: { class: "form-control" }
        .form-group
          = f.input :info, as: :text, input_html: { class: "form-control" }
      = f.actions do
        .form-group
          = f.action :submit, button_html: { class: "btn btn-primary" }, label: "Einreichen"
